body, html {
    padding: 0;
    margin: 0;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.site-background{
    background-color: #fefff7;
}

.site-center-wrappter{
  width: 800px;
  margin: 0 auto;

  @media screen and (max-width: 960px) {
    & {
      width: calc(100% - 40px);
      margin: 0 20px;
    }
  }
}

.flex-row-space-between{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}